body {
    background-color: lightsalmon;
    font-family: Montserrat, sans-serif;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Banner */

.banner {
    display: block;
    width: 100%;
    padding-top: 1rem;
    background-position: center;
    background-image: url("https://imgproc.airliners.net/photos/airliners/3/4/1/6105143.jpg?v=v4a7c9b75734");
    background-size: cover;
    height: 31rem;
    background-repeat: no-repeat;
}

.banner h1 {
    background-color: rgba(0, 0, 0, 0.4);
    color: coral;
    text-align: center;
    padding: 2rem;
    margin-top: 8rem;
    font-size: 2rem;
    padding: 2rem;
    position: relative;
    top: 20%;
    
}

/* Intro Section */

.intro {
    margin: 1rem auto;
}

.intro h2 {
    color: yellow;
    font-size: 1.5rem;
    padding: 0 1rem;
    font-weight: bold;
}

.description {
    color: white;
    padding: 0 1rem;
    font-size: 1.5rem;
}

/* Quote Section */

.quote {
    padding: 2rem 0;
    width: 100%;
}

.quote h2 {
    padding: 3rem;
    color: yellow;
    font-family: montserrat;
    font-size: 3rem;
    text-align: center;
    background-color: teal;
    
}

/* Images */

.image-container1 {
    display: flex;
    
}

.image-container2 {
    display: flex;  
     
}
.image-container1 image {
    flex-basis: auto;
}

img {
    max-width: 497px;
    
}

.image1 {
    flex:3;
    order:2;
   
}
.image2 {
    flex:1;
    order:3;
    
}
.image3{
    flex:3;
    order:1;
}

.image4 {
    flex:3;
    order:2;
}
.image5 {
    flex:1;
    order:3;
}
.image6{
    flex:3;
    order:1;
}

/* Footer*/ 

.join {
    color: yellow;
    font-family: montserrat;
    font-size: 2rem;
    padding: 0 1rem;
    text-align: center;
}

.bar {
    background-color: teal;
    display: flex;
    width: 100%;
}


li {
    color: lightsalmon;
    list-style: none;
    display: inline-block;
}

.icon {
    color: blue;
}

/* Media Queries */

@media only screen and (min-width: 480px) and (max-width: 600px){
    .image-container1 {
        display: flex;
        flex-direction: column;
        
    }
    
    .image-container2 {
        display: flex;
        flex-direction: column;
    }

    .image-container1 image {
        flex-basis: auto;
        width: 100%;
    }

    img {
        max-width: 100%;
    }

    .quote {
        padding: 2rem 0;
        width: 100%;
    }

    .bar {
        background-color: teal;
        display: flex;
        width: 100%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 850px){
    .image-container1 {
        display: flex;
        flex-direction: column;
        
    }
    
    .image-container2 {
        display: flex;  
         flex-direction: column;
    }

    .image-container1 .image {
        flex-basis: auto;
        min-width: 95%;
    }

    img {
        max-width: 100%;
    }

    .quote {
        padding: 2rem 0;
        width: 100%;
    }

    .bar {
        background-color: teal;
        display: flex;
        width: 100%;
    }
}

@media only screen and (min-width: 850px) and (max-width: 1000px){
    .image-container1 {
        display: flex;
        flex-direction: column;
        image-rendering: auto;
    }
    
    .image-container2 {
        display: flex;  
         flex-direction: column;
    }

    .image-container1 .image {
        flex-basis: auto;
        width: 100%;
    }

    img {
        max-width: 100%;
    }

    .quote {
        padding: 2rem 0;
        width: 100%;
    }

    .bar {
        background-color: teal;
        display: flex;
        width: 100%;
    }
}

@media only screen and (max-width: 1400px){
    .image-container1 {
        display: flex;
        flex-direction: column;
        
        
    }
    
    .image-container2 {
        display: flex;
        flex-direction: column;
        
    }

    .image-container1 .image {
        height: auto;
        width: 95%;
    }

    img {
        max-width: 100%;
    }

    .quote {
        padding: 2rem 0;
        width: 100%;
    }

    .bar {
        background-color: teal;
        display: flex;
        width: 100%;
    }
}

header {
    background-color: teal;
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    
}

